.DS_Store
.idea/
*.iml
*.classpath
*.project
*.settings
target/
bin/
private-ec2/cloudify/clouds/privateEc2/upload/cloudify-overrides/lib/platform/esm/*.jar
private-ec2/cloudify/clouds/privateEc2/upload/*.pem
private-ec2/cloudify/clouds/privateEc2/*-cloud.properties
private-ec2/cloudify/cfn-templates/sampleApplication/*.properties